@import '../variables.scss';

.listUsers {
  padding: 0;
}
.cardUser {
  display: grid;
  grid-template-columns: 100px 1fr 80px;
  height: 80px;
  margin: 10px 0;
  border-radius: 15px;
  border: 1px solid $primary-color;
  &__images{
    text-align: center;
    & img{
      width: auto;
      height: 70px;
      padding: 5px 0;
      border-radius: 50%;
    }
  }
  &__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
    overflow-x: scroll;
    @include media-min(xs) {
      font-size: 1.5em;
      overflow-x: hidden;
    }
  }
  &__button{
    @include flex;
    & button{
      @include base_button;
      width: 100%;
      padding: 10px 0;
      font-size: 1.5rem;
    }
    
  }
}