@import '../variables.scss';

.listUsers {
  padding: 0;
}
.cardUser {
  display: grid;
  grid-template-columns: 100px 1fr 80px;
  height: 100px;
  margin: 10px 0;
  border-radius: 15px;
  border: 1px solid $primary-color;
  & img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
  }
  &__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
    overflow-x: scroll;
    padding: 0 15px;
    @include media-min(xs) {
      font-size: 1.5em;
      overflow-x: hidden;
    }
  }
  &__button{
    @include flex;
    & a{
      width: 100%;
    }
    & button{
      @include base_button;
      width: inherit;
      padding: 10px 0;
      font-size: 1.5rem;
    }
  }
}