@import '../variables.scss';

.formUser {
  height: auto;
  padding: 1em 2em;
  border: 1px solid;
  border-radius: 15px;
  font-size: 2em;
  @include media-min(md) {
    padding: 3em 10em;
  }
  &__div{
    display: flex;
    flex-direction: column;
    & label{
      padding: .3em 0;
    }
    & input{
      font-size: inherit;
      border-radius: 15px;
      padding: 5px 20px;
    }
    /* &:nth-child(6){
      input {
        padding: 5px 0;
        border-radius: 0;
      }
    } */
  }
}
.inputFormButton{
  @include base_button;
  padding: 10px 0;
  margin: 10px 0 0;
  width: 100%;
  font-size: 2rem;
}