@import '../variables.scss';

.sectionMenu {
  padding: 30px 10% 0;
  height: calc(100vh - 200px);
  @include media-min(sm) {
    height: calc(100vh - 175px);
  }
  &__title{
    text-align: center;
  }
}
.menuAdmin{
  @include flex;
  @include media-min(md) {
    padding: 0 20%;
  }
  & a{
    width: 100%;
  }
  flex-direction: column;
  &__button{
    @include base_button;
    margin: 10px 0;
    padding: 10px 0;
    width: inherit;
    font-size: 2rem;
  }
}