@import './variables.scss';

.Button {
  button {
    color: $white-color;
    background-color: $secondary-color;
    margin-top: 6%;
    margin-left: 7%;
    cursor: pointer;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    font-family: Amaranth-Regular;
    font-weight: bold;
  }
  button:focus {
    background-color: $hover-button;
  }
  button:hover {
    background-color: $hover-button;
  }
}
