@import './variables.scss';

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  &__card {
    display: flex;
    justify-content: center;
    background-color: $white-color;
    width: 90%;
    -webkit-box-shadow: 0px 0px 29px -2px rgba(46, 43, 43, 0.68);
    -moz-box-shadow: 0px 0px 29px -2px rgba(46, 43, 43, 0.68);
    box-shadow: 0px 0px 29px -2px rgba(46, 43, 43, 0.68);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    .imgButton {
      margin-top: 1%;
      margin-left: 4%;
      img {
        @extend %img;
        @include media('m') {
          margin-top: 3%;
        }
      }
      .Button {
        button {
          @include media('m') {
            margin-left: 0;
          }
        }
        button:focus {
          background-color: $background-tags;
          color: $black-color;
        }
        button:hover {
          background-color: $background-tags;
          color: $black-color;
        }
      }
    }
    .article {
      margin-left: 5%;
      margin-right: 5%;
      .nameScore {
        display: flex;
        justify-content: space-between;
        h2 {
          font-family: Amaranth-Bold;
          font-size: x-large;
          margin-bottom: 0px;
          color: $black-color;
        }
        img {
          margin-top: 20px;
        }
        @include media('sm') {
          display: block;
          margin-bottom: 5%;
        }
      }
      .article--description {
        font-family: Roboto-Light;
        font-size: medium;
        color: $black-color;
        text-align: justify;
      }
    }
    .data__nana {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 5fr;
      h2 {
        margin-right: 10%;
        color: $black-color;
      }
      @include media('m') {
        justify-content: center;
      }
    }
    @include media('m') {
      display: block;
      text-align: center;
    }
  }
}
