@import './variables.scss';

.filter {
  max-width: 1440px;
  min-height: 85vh;
  margin: auto;
  background-color: $background-color;
  &__items {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
  }
}
