@import './variables.scss';

.error {
  padding: 0.5rem;
  background-color: rgba(255, 0, 0, 0.5);
  border: 1px solid red;
  border-radius: 6px;
  margin: 0.5rem 0 0 0;
}

.row {
  width: 300px;
  padding: 0.8rem 0;
}

.phone {
  display: flex;
  justify-content: space-between;
  .row--phone {
    padding: 0.8rem 0;
    .input--phone {
      border-radius: 6px;
      border: 1px solid white;
      padding: 0.5rem;
      box-sizing: border-box;
      box-shadow: 0px 0px 12px -2px rgba(46, 43, 43, 0.68);
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;
    }
  }
}

.child__add {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
  &--one {
    @extend %buttonNext;
  }
}

.input {
  width: 100%;
  border-radius: 6px;
  border: 1px solid white;
  padding: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0px 0px 12px -2px rgba(46, 43, 43, 0.68);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.submit {
  padding: 0.5rem 0;
  background-color: #00a6ff;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  box-shadow: 0 1px 4px 0 rgba(22, 24, 26, 0.15);
}

.button--form {
  display: flex;
  justify-content: center;
  margin-top: 6%;
  button {
    @extend %buttonNext;
  }
}
