@import './variables.scss';

.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white-color;
  &__a {
    margin-left: 5%;
  }
  &__logo {
    max-width: 160px;
  }
  &--hamburger {
    margin-right: 5%;
    color: $black-color;
    cursor: pointer;
    font-size: 5rem !important;
  }
}
