@import './variables.scss';

.check {
  position: fixed;
  z-index: 1;
  display: flex;
  padding-top: 3%;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 0, 77, 0.438);
  position: absolute;
  &-card {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
    width: 525px;
    height: fit-content;
    border-radius: 10px;
    background-color: $background-color;
    padding-bottom: 3%;
    background-color: $white-color;
    .check__add {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      justify-content: ceen;
      justify-content: flex-end;
      .check__close {
        border: none;
        border-radius: 50px;
        background-color: transparent;
        width: 20px;
        height: 20px;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
        opacity: 0.7;
        &--check {
          border-radius: 50px;
          padding: 4px 6px;
          width: 20px;
          height: 20px;
        }
        &:hover {
          cursor: pointer;
          box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.274);
          opacity: 1;
        }
        &:active {
          cursor: pointer;
          box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.274);
          opacity: 0.7;
        }
      }
    }
    &--check {
      display: flex;
      justify-content: center;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 1fr 5fr;
      margin: 6%;
      @include media('sm') {
        display: block;
      }
      h2 {
        margin: 10px;
        font-family: Amaranth-Bold;
        font-size: large;
        color: #2c2b3c;
      }
      p {
        margin: 10px;
        font-family: Amaranth-Bold;
        font-size: large;
        color: #2c2b3c;
        text-align: justify;
      }
      .check-card--value {
        color: $secondary-color;
      }
    }
    h1 {
      margin-bottom: 5%;
      @include font(large, Roboto-Light, center);
    }
    .button__pay {
      display: flex;
      justify-content: center;
      &--next {
        @extend %buttonNext;
      }
      &--next:focus {
        background-color: $background-tags;
        color: $black-color;
      }
      &--next:hover {
        background-color: $background-tags;
        color: $black-color;
      }
    }
  }
}
