@import './variables.scss';

.tags {
  display: flex;
  @include media('m') {
    justify-content: center;
  }
  .TagsService {
    background-color: $background-tags;
    width: max-content;
    border-radius: 8px;
    @include media('m') {
      width: auto;
    }
    p {
      font-family: Roboto-Regular;
      color: $black-color;
      font-size: medium;
      padding: 10px;
      margin-top: 0px;
      margin-bottom: 0;
      text-align: center;
    }
  }
  .TagsSpecialties {
    background-color: $background-tags;
    width: max-content;
    border-radius: 8px;
    margin-right: 3%;
    @include media('m') {
      width: auto;
    }
    p {
      font-family: Roboto-Regular;
      color: $black-color;
      font-size: medium;
      padding: 10px;
      margin-top: 0px;
      margin-bottom: 0;
      text-align: center;
    }
  }
}
