@import './variables.scss';

.Tags {
  background-color: $background-tags;
  width: max-content;
  border-radius: 50px;
  @include media('m') {
    width: auto;
  }
  p {
    font-family: Roboto-Light;
    color: $black-color;
    font-size: medium;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 0;
    text-align: center;
  }
}
