@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@font-face {
  font-family: Amaranth-Regular;
  src: url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
}
@font-face {
  font-family: Amaranth-Bold;
  src: url('https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap');
}
@font-face {
  font-family: Roboto-Regular;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}
@font-face {
  font-family: Roboto-Medium;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
}
@font-face {
  font-family: Roboto-Bold;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
}

$primary-color: #0077b6;
$secondary-color: #06a77d;
$secondary-color-two: #aefce7;
$secondary-color-three: #fec400;
$background-color: #eaeff2;
$black-color: #2c2b3c;
$white-color: #fafbfc;
$color-link: #06a77d;
$hover-menu: #ade2ff;
$hover-button: #08d09a;
$background-tags: #aefce7;

$font-family-title: 'Amaranth-Bold', sans-serif;
$font-family-subtitle: 'Amaranth-Regular', sans-serif;
$font-family-paragraph: 'Roboto-Regular', sans-serif;

$break-m: 425px;
$break-xs: 500px;
$break-sm: 767px;
$break-md: 1024px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $break-xs) {
      @content;
    }
  } @else if $media == sm {
    @media (max-width: $break-sm) {
      @content;
    }
  } @else if $media == md {
    @media (max-width: $break-md) {
      @content;
    }
  } @else if $media == m {
    @media (max-width: $break-m) {
      @content;
    }
  }
}

@mixin media-min($media) {
  @if $media == xs {
    @media (min-width: $break-xs) {
      @content;
    }
  } @else if $media == sm {
    @media (min-width: $break-sm) {
      @content;
    }
  } @else if $media == md {
    @media (min-width: $break-md) {
      @content;
    }
  }
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin base_button {
  background-color: $secondary-color;
  color: $white-color;
  border-radius: 25px;
  border-style: none;
  border-color: $secondary-color;
  &:hover {
    background-color: $hover-button;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}


html {
  font-size: 62.5%;
}
body {
  font-family: $font-family-paragraph;
  background-color: $background-color;
}
h1 {
  font-family: $font-family-title;
  font-size: 6rem;
  @include media(xs) {
    font-size: 4rem;
  }
}
h2 {
  font-size: 4rem;
  @include media(xs) {
    font-size: 3rem;
  }
}
h3,
h4,
h5,
h6 {
  font-size: 3rem;
  @include media(xs) {
    font-size: 2.5rem;
  }
}
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-subtitle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 2rem;
}
p,
a {
  margin: 0;
}
a {
  text-decoration: none;
}

@mixin font($size, $font, $align) {
  font-family: $font;
  font-size: $size;
  color: $black-color;
  text-align: $align;
}

@mixin text($property) {
  display: flex;
  h2:nth-child(2) {
    display: flex;
    margin-left: $property;
  }
}

%buttonNext {
  color: #fafbfc;
  background-color: #06a77d;
  font-size: medium;
  cursor: pointer;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  font-family: Amaranth-Regular;
  font-weight: bold;
}

%img {
  width: 125px;
  height: 125px;
  -webkit-box-shadow: 0px 0px 29px -2px rgba(124, 119, 119, 0.68);
  -moz-box-shadow: 0px 0px 29px -2px rgba(124, 119, 119, 0.68);
  box-shadow: 0px 0px 29px -2px rgba(124, 119, 119, 0.68);
  border-radius: 50% 50%;
  -moz-border-radius: 50% 50%;
  -webkit-border-radius: 50% 50%;
}

%button {
  color: $white-color;
  background-color: $secondary-color;
  margin-top: 6%;
  margin-left: 56px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  font-family: Amaranth-Regular;
  font-weight: bold;
}
